body {
	background-color: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 16px;
}

header {
	background-color: white;
}

header img {
	vertical-align: middle;
	display: inline-block;
	margin: 0 10px;
}

header span {
	vertical-align: middle;
	display: inline-block;
}

header a {
	text-decoration: none;
}

h1 {
	color: #555555;
	font-size: 55px;
	margin-top: 100px;
	margin-left: 160px;
}

header h2 {
 	margin-bottom:  0px;
}

header h2 {
	font-size: 25px;
	color: #555555;
	text-decoration: none;
}

header h3 {
	font-size: 16px;
	color: #555555;
	margin-top: 0px
}

body h5 {
	font-size: 35px;
	color: #555555;
	margin-top: 0px;
	margin-bottom: 25px;
}

section:not(.hero) {
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 2px #ddd;
}

section.sarah a {
	text-decoration: none;
	color: #555555;
}

section.sarah p {
	margin-top: 0px;
}
section.blackforest a {
	text-decoration: none;
	color: #555555;
}

section.blackforest p {
	margin-top: 0px;
}
section.alberta a {
	text-decoration: none;
	color: #555555;
}

section.alberta p {
	margin-top: 0px;
}
section.mcminnimans a {
	text-decoration: none;
	color: #555555;
}

section.mcminnimans p {
	margin-top: 0px;
}

img.line {
	margin-left: auto;
	margin-right: auto;
}

section a:hover {
	color: #F4805C;
}

p {
	color: #555555;
	font-size: 16px;
	text-align: left;
	margin-left: 160px;
	margin-top: 65px;
	max-width: 980px;
}

p a {
	text-decoration: none;
	color: #F4805C;
}

nav a {
	margin-top: 10px;
	text-decoration: none;
	color: #555555;
	font-size: 20px;
}

 nav a:hover {
	color: #F4805C;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2, h3 {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: lighter;
}

h5 {
	font-family: 'Montserrat', sans-serif;
}

footer section,
header,
section,
section.contact section {
	margin: auto;
	max-width: 980px;
	padding: 50px;
}


section.hero {
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: calc(100vh - 100px);
	overflow: hidden;
}

footer, 
section.contact,
section.hero {
	width: 100%;
	padding: 0;
	max-width: 100%;
	background-color: #f4805c;	
}

section.contact section {
	box-shadow: none;
	border-style: none;
	text-align: center;
	background-image: url("/images/contact.png");
	height: 50vw;
    max-height: 500px;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	background-repeat: no-repeat;
    background-origin: content-box;
}

section.contact section > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
 
section.contact img {
	width: auto;
}

section.information {
	background-image: url("/images/background.png");
}

section.hero section {
	border-style: none;
	box-shadow: none;
}

section span img {
	max-width: 200px;
	margin-left: 160px;
	margin-top: 75px;

}

img.button2 {
	margin-left: 0px;
	max-width: 200px;
	max-height: 47px;
}

section img {
	float: left;
	margin-right: 30px;
	width: 40%;
}

section.contact img {
	margin: 0;
	width: auto;
	float: none;
}

section div {
	overflow: hidden;
}

section::after {
	clear: both;
	content: "";
	display: block;
}

header {
	margin: auto;
	padding-bottom: 16px;
	padding-top: 30px;
}


header nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block; 
}

nav li a {
	display: inline-block;
	padding: 20px 15px;
}

footer {
	background-color: #D67056;
	text-align: center;
}

