	<footer>
		<nav>
			<ul class="social">
				<li>
					<a href="http://www.instagram.com/sarahsites"><img src="images/instagram.png" alt="instagram logo"></a>
				</li>
				<li>
					<a href="http://www.facebook.com/"><img src="images/facebook.png" alt="facebook logo"></a>
				</li>
				<li>
					<a href="http://www.twitter.com/"><img src="images/twitter.png" alt="twitter logo"></a>
				</li>
			</ul>
			<h4><a href="#">Contact</a></h4>
		</nav>
	</footer>
	<script src="js/sara-sites.min.js"></script>